html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid white;
  color: white;
  justify-content: center;
  align-items: center;
}

.navbar {
  color: white;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  border-bottom: white 1px solid;
}

.navbar a {
  color: white;
  font-size: large;
  font-weight: bold;
  margin-left: 10px;
  text-decoration: none;
}

.navbar .logo {
  margin-right: auto;
  background-image: url("../public/pizzalogo.png");
  background-size: 25px;
  background-repeat: no-repeat;
}

.navbar .logo p {
  display: inline;
  font-weight: bold;
  padding-left: 30px;
  cursor: pointer;
}

.contact {
  margin: 12px;
  color: white;
}

.contact .mapa {
  display: flex;
  justify-content: flex-end;
}

.contact .popis {
  float: left;
}

.contact .popis .socials p {
  display: inline;
  margin: 1rem;
}

* {
  box-sizing: border-box;
}

